@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

body {
    background-image: url(sakk-hatter.png);
    background-size: 300px;
}

h1 {
    font-family: 'Cinzel Decorative';
    font-size: 6em;
    text-align: center;
}

.fk {
    font-weight: bold;
}

.fekete {
    background-color: white;
    color: black;
}

.feher {
    background-color: black;
    color: white;
}

.alakzat {
    text-align: center;
    font-size: 600%;
    margin: 0px;
}

.kepalairas {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    border: solid 1px black;
    border-radius: 6px;
}

ul {
    list-style-image: url(huszar-felsorolas.png);
    line-height: 250%;
}
